@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Bisa diganti 'scroll' jika ingin full HP support */
  background-repeat: no-repeat;
}
html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: #000; /* fallback jika background error */
}
